body {
    margin: 0;
    font-family: 'Golos Text', sans-serif;
}

header {
    display: flex;
    height: 90vh;
}

.hero-image {
    background-color: aquamarine;
    width: 60%;
    background-image: url(images/gian-cescon-00ByEXKcSkA-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 65%;
}

.header-wrapper {
    flex: 1;
}

.header-content {
    margin-top: 10%;
    margin-left: 40px;
    max-width: 500px;
    font-size: 22px;
    padding: 50px;
}

h1 {
    font-size: 60px;
}

.btn {
    text-decoration: none;
    color: white;
    background-color: rgb(35, 157, 157);
    padding: 10px;
    border-radius: 5px;
    transition: 0.3s;
}

.btn:hover {
    background-color: rgb(28, 126, 126);
}

main {
    text-align: center;
    margin-top: 150px;
}

.main-items {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: auto;
}

.main-item {
    box-shadow: 1px 1px 12px 0px rgba(63, 63, 63, 0.116);
    padding: 30px;
    margin: 20px;
}

.main-item button {
    background-color: red;
    color: white;
    border: 1px;
    padding: 4px 12px;
    margin-top: 6px;
}

.main-item button:hover {
    background-color: rgb(202, 0, 0);
    cursor: pointer;
}

.main-item img {
    object-fit: cover;
}

.wrapper {
    max-width: 500px;
    margin: auto;
}

input,
textarea {
    width: 100%;
    background-color: rgb(247, 247, 247);
    padding: 10px;
    border: none;
    margin-bottom: 10px;
    box-sizing: border-box;
    box-shadow: 3px 2px 6px 0px rgba(63, 63, 63, 0.377);
}

form button {
    width: 100%;
    background-color: rgb(51, 203, 63);
    color: white;
    padding: 10px;
    border: none;
    border-radius: 7px;
    margin-top: 20px;
}

textarea {
    resize: none;
}

form button:hover {
    background-color: rgb(39, 145, 48);
    cursor: pointer;
}

label {
    font-family: sans-serif;
}

.form-container {
    padding: 30px;
    border-radius: 4px;
    margin: auto;
}

.gift {
    position: absolute;
    top: 20px;
    left: 20px;
    transition: 0.2s;
    cursor: pointer;
}

.modal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
    padding-top: 100px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.459);
}

.modal-content {
    font-size: 18px;
    line-height: 28px;
    background-color: white;
    margin: auto;
    padding: 20px;
    border: 1px solid rgb(158, 158, 158);
    border-radius: 10px;
    max-width: 600px;
    position: relative;
    animation-name: animate-modal;
    animation-duration: 0.4s;
}

.close {
    color: rgb(172, 171, 171);
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover {
    color: #000;
    cursor: pointer;
}

@keyframes animate-modal {
    from {
        top: -300px;
        opacity: 0;
    }

    to {
        top: 0;
        opacity: 1;
    }
}

h3 {
    font-family: sans-serif;
    margin-bottom: 0px;
    margin-left: 28px;
}

/* медиазапрос */
/* Проверка ширины окна браузера */
@media screen and (max-width:760px) {
    header {
        flex-wrap: wrap;
        height: auto;
    }

    .header-content,
    .hero-image {
        width: 100%;
    }

    .header-content {
        margin: 10px;
    }

    h1 {
        font-size: 2.4rem;
    }

    .hero-image {
        height: 400px;
        order: 0;
    }

    .header-wrapper {
        order: 1;
    }
}

.rating {
    text-align: center;
    max-width: 600px;
    margin: 60px auto;
}

.rating img {
    width: 60px;
    height: 53px;
}

.reset-rating {
    cursor: pointer;
}

.send-rating {
    background-color: rgb(81, 81, 255);
    color: white;
    border: none;
    border-radius: 7px;
    padding: 10px;
    width: 100%;
    max-width: 400px;
}

